/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html
{
    font-size: 1em;
    line-height: 1.4;

    color: #222;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection
{
    background: #b3d4fc;
    text-shadow: none;
}

::selection
{
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr
{
    display: block;

    height: 1px;
    margin: 1em 0;
    padding: 0;

    border: 0;
    border-top: 1px solid #ccc;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video
{
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset
{
    margin: 0;
    padding: 0;

    border: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea
{
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade
{
    margin: .2em 0;
    padding: .2em 0;

    color: #000;
    background: #ccc;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden
{
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden
{
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus
{
    position: static;

    overflow: visible;
    clip: auto;

    width: auto;
    height: auto;
    margin: 0;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible
{
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after
{
    display: table; /* 2 */

    content: ' '; /* 1 */
}

.clearfix:after
{
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em)
{
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi)
{
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print
{
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line
    {
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        background: transparent !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited
    {
        text-decoration: underline;
    }

    a[href]:after
    {
        content: ' (' attr(href) ')';
    }

    abbr[title]:after
    {
        content: ' (' attr(title) ')';
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^='#']:after,
    a[href^='javascript:']:after
    {
        content: '';
    }

    pre,
    blockquote
    {
        border: 1px solid #999;

        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead
    {
        display: table-header-group;
    }

    tr,
    img
    {
        page-break-inside: avoid;
    }

    img
    {
        max-width: 100% !important;
    }

    p,
    h2,
    h3
    {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3
    {
        page-break-after: avoid;
    }
}

/* ====================================================================================== */


@font-face
{
    font-family: Gagalin;

    src: url(../fonts/Gagalin/Gagalin-Regular.otf);
}

@font-face
{
    font-family: Lifehack;

    src: url(../fonts/Lifehack%20Medium.otf);
}

body
{
    margin: 0;
}


.bl
{
    margin: 10px;
    padding: 5px 5px;
}

.main
{
    display: flex;
    flex-direction: row;

    
    height: 700px;
    margin: auto;

    background: black;

    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

.logo
{
    order: 0;
    flex-basis: 100px;
}

.main_logo
{
    position: center;

    display: block;

    width: 100px;
    height: 80px;
    margin: 10px;

    background: url(../icons/logo.svg) no-repeat;
}

.menu
{
    max-width: 850px;
    height: auto;
    top: 30px;
    position: relative;

    background: black;

    order: 1;
    flex-basis: 200px;
}

.menu ul
{
    width: 900px;
    margin: 0;
    padding-right: 200px;

    list-style: none;
}

.menu ul li
{
    display: inline-block;

    margin: 0;
    padding: 2px;

    border: 1px solid rgba(1,1,1,.0);
}

.menu ul li a
{
    font-size: .95em;
    font-weight: 700;
    line-height: 0;

    display: block;

    width: auto;
    padding: 15px;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    outline: none;
}

.last
{
    border-radius: 10px;
    background-color: #e33b27;
}

.picture
{
    height: 400px;
    margin-top: 40px;  

    order: 2;
    flex-basis: 40% ;
}

.drops
{
    width: 450px;
    height: 300px;
    margin: auto;

    background: url(../icons/drops.svg) no-repeat;
}

.chicken_burger
{
    position: relative;
    top: -250px;

    width: 300px;
    height: 200px;
    margin: auto;

    background: url(../burgers-slider/Chiken%20burger.png) no-repeat;
    background-size: 100%;
}
.inscription
{
    max-width: 500px;
    height: 400px;

    order: 3;
    flex-basis: 40%;
}
.we_do
{
    top: 20px;

    display: block;

    min-width: 400px;
    height: 50px;
}

.we_do p
{
    font-family: 'Gagalin';
    font-size: 4em;

    margin-top: 100px;

    text-transform: uppercase;

    color: #f2a62d;
}

.nature_burgers
{
    margin-top: 30px;
}

.nature_burgers p
{
    font-family: 'Lifehack';
    font-size: 3em;
    line-height: 45px;

    left: 100px;

    margin: 0;

    color: #fff;
}

.scroll
{
    position: relative; 
    left: 50%;

    display: block;

    height: 30px;

    background: url(../icons/arrow-scroll.svg) no-repeat;

    order: 4;
    flex-basis: 100%;
}
