/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    font-size: 1em;
    line-height: 1.4;
    color: #222;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
    border: 0;
    border-top: 1px solid #ccc;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: .2em 0;
    padding: .2em 0;
    color: #000;
    background: #ccc;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}
/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    position: static;
    overflow: visible;
    clip: auto;
    width: auto;
    height: auto;
    margin: 0;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    display: table;
    /* 2 */
    
    content: ' ';
    /* 1 */
}
.clearfix:after {
    clear: both;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}
@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        
        background: transparent !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: ' (' attr(href) ')';
    }
    abbr[title]:after {
        content: ' (' attr(title) ')';
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    
    a[href^='#']:after,
    a[href^='javascript:']:after {
        content: '';
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
/* ====================================================================================== */

ul {
    list-style-type: none;
}
@font-face {
    font-family: Gagalin;
    src: url(../fonts/Gagalin/Gagalin-Regular.otf);
}
@font-face {
    font-family: Lifehack;
    src: url(../fonts/Lifehack%20Medium.otf);
}

.big-sign {


}

.block {
    padding: 10px 0;
}
.first-slide {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 800px;
    background: black;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}
.main-logo__img {
    margin-top: 20px;
}
.nav-wrap {
    height: auto;
    top: 30px;
    position: relative;
    background: black;
    order: 1;
}
.nav {
    width: 900px;
    margin-left: 40px;
    list-style: none;
}
.nav__item {
    display: inline-block;
    padding: 2px;
    border: 1px solid rgba(1, 1, 1, .0);
}
.nav__item-content {
    font-size: 1em;
    font-weight: 700;
    line-height: 0;
    display: block;
    width: auto;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #C7C9C9;
    outline: none;
}
.nav__item-content:hover {
    color: #fff;
}
.last-item {
    border-radius: 10px;
    background-color: #e33b27;
}
.first-slide__image {
    height: 400px;
    margin-top: 150px;
    order: 2;
    flex-basis: 40%;
}
.first-slide__image-chicken-burger {
    position: relative;
    top: -180px;
    left: 80px;
    width: 300px;
    height: 200px;
    background-size: 100%;
}
.first-slide__title {
    margin-top: 100px;
    max-width: 500px;
    height: 400px;
    order: 3;
    flex-basis: 40%;
}
.title__big-sing-content {
    margin:  90px 0 10px 0px;
    color: #f2a62d;
}
.first-slide__title {
    top: 20px;
    display: block;
    min-width: 500px;
    height: 50px;
}
.big-sign {
    font-family: "Gagalin";
    font-size: 5em;
    text-transform: uppercase;
}

.title__text-block-content {
    font-family: 'Lifehack';
    font-size: 3em;
    line-height: 45px;
    color: #fff;
    margin: 0;
}
.scroll {
    position: relative;
    margin-top: 90px;
    margin-left: 50%;
    display: block;
    width: 20px;
    height: 30px;
    order: 4;
    flex-basis: 100%;
}
.scroll__img {
    cursor: pointer;
}
.second-slide {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 800px;
    background: #F8F1EC;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}
.second-slide__big-sign {
    order: 0;
    flex-basis: 100%;
    margin-left: 500px;
}
.second-slide__information {
    order: 1;
    flex-basis: 100%;
    margin-left: 200px;
}
.content-wrap__block {
    float: left;
    line-height: 30px;
    margin-top: 30px;
    width: 320px;
    margin-right: 10px;
    text-align: center;
}
.font-lifehack {
    font-family: "Lifehack";
    color: black;
    font-size: 30px;
}
.font-usual {
    color: grey;
}
.third-slide {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 800px;
    background: #E9F978;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}
.fourth-slide {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 800px;
    background: url(../friends.jpg) no-repeat;
    background-position: 20% 0;
}
.fourth-slide__transparant-block {
    display: block;
    position: relative;
    width: 50%;
    height: 800px;
    margin-left: 50%;
    background: rgba(0, 0, 0, .8);
}
.fourth-slide__big-sign {
    color: #f2a62d;
    margin-left: 25%;
}
.name {
    font-family: "Gagalin";
    font-size: 1em;
    color: #FFF;
    cursor: pointer;
    width: 200px;
}
.name:before {
    content: "▼";
    margin-right: 15px;
    font-size: 0.65em;
    padding-right: 6px;
    color: #f2a62d;
}
.open.name:before {
    content: '▲';
}
.fourth-slide__team {
    display: none;
}
.open {
    display: block;
}
.people__img {
    border-radius: 100%;
    margin-left: 20px;
}
.people__text {
    font-family: "Arial";
    float: right;
    color: #E6FFF6;
    width: 200px;
    margin-right: 270px;
    line-height: 28px;
}
.fifth-slide {
    display: block;
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
    background: url(../menu.jpg) no-repeat;
}
.for-meat-eater {
    background: url(../food4.jpg) no-repeat;
    outline: none;
    position: absolute;
    width: 1000px;
    height: 800px;
    box-shadow: -20px 0 100px 100px rgba(0, 0, 0, .5);
    left: 1100px;
    transition-property: left;
    transition-duration: 1s;
}
.active.for-meat-eater:before {
    content: '';
    background: rgba(0, 0, 0, .5);
    display: block;
    position: absolute;
    width: 1000px;
    height: 800px;
}
.fifth-slide__text {
    font-family: "Gagalin";
    font-size: 3.5em;
    color: #E7FCF8;
    transform: rotate(270deg);
    display: block;
    position: relative;
    right: 450px;
}
.for-vegetarian {
    background: url(../food1.jpg) no-repeat;
    outline: none;
    position: absolute;
    width: 1000px;
    height: 800px;
    transition-property: left box-shadow;
    transition-duration: 1s;
    left: 1200px;
}
.active.for-vegetarian:before {
    content: '';
    background: rgba(0, 0, 0, .5);
    display: block;
    position: absolute;
    width: 1000px;
    height: 800px;
}
.for-diet {
    background: url(../food2.jpg) no-repeat;
    outline: none;
    position: absolute;
    width: 1000px;
    height: 800px;
    transition-property: left box-shadow;
    transition-duration: 1s;
    left: 1300px;
}
.active.for-diet:before {
    content: '';
    background: rgba(0, 0, 0, .5);
    display: block;
    position: absolute;
    width: 1000px;
    height: 800px;
}
.sign {
    font-family: "Gagalin";
    font-size: 5.5em;
    color: #141616;
    margin-left: 30px;
    position: absolute;
}

.sixth-slide {
    display: block;
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
    background: #141616;
}

.label {
    color: #A0B7B9;
    font-family: "Arial";
    bottom: 10px; 
    font-size: 0.9em;
    
}

.input {
    border: 0;
    border-radius: 3px;
    height: 35px;
    margin-top: 5px;
    padding-left: 20px;  
}

.sixth-slide__title {
    margin: 100px 0;
    width: 100%;
    color: #f2a62d;
    text-align: center;
}

.form-block {
    display: inline-block;
    margin-left: 20px;
}

.row-block {
    margin-top: 10px;
}

#streetName {
    width: 515px;
}
#phoneNumber {
    width: 235px;
   
}
#clientName {
    width: 235px;
}

#building { width: 95px; }
#buildingNumber { width: 95px; }
#apartmentNumber { width: 95px; }
#floor { width: 94px; }

.left-side {
    margin-left: 10%;
    width: 40%;
    display: inline-block;
}

.right-side {
    margin-left: 0;
    width: 30%;
    display: inline-block;
}

#comment {
    width: 515px;
    height: 110px;
}

.checkbox {
    top: 15px;
    position: relative;
    color: #A0B7B9;
    font-family: "Arial";
    
    font-size: 0.9em;

}

.radio {
    color: #A0B7B9;
    font-family: "Arial";
    font-size: 0.9em;
}

.lower {
  margin-left: 50%;
  margin-top: 20px;
 
}

.footer {
    display: block;
    position: relative;
    width: 100%;
    height: 80px;

    background: #222727;
}

.footer__text {
    margin-left: 40px;
    display: inline-block;
}

.footer__text-paragraph {
    position: relative;
    top:20px;
    margin: 0;
    color: white;
}

.footer__text-number {
    position: relative;
    top:0px;
    margin: 0;
    color: #C7482F;
    font-family: "Arial";
}

.footer__social {
    display: inline-block;
    margin-left: 55%;
    position: relative;
    bottom: 10px;

}

.footer__ul {
    margin: 0;
}

.footer__ul li {
    display: inline-block;
    margin-left: 20px;

}

.vk{ background: url(../icons/vk.svg) no-repeat; background-size: 100%; background-position: 50% 50%; }
.inst{ background: url(../icons/inst.svg) no-repeat ; background-size: 100%; }
.fb{ background: url(../icons/fb.svg) no-repeat; background-size: 100%; }
.twit{ background: url(../icons/twitter.svg) no-repeat; background-size: 100%; }

.soc {
    width: 20px;
    height: 20px;
}
